*{
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background: url(Images/bg.jpg);
    background-position:center ;
    background-repeat: no;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
}

.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo{
    width: 160px;
    cursor: pointer;
    margin-top: -3%;
    margin-left: -2%;

}

ul{
    margin-top: -4%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: darkslategray;
    margin-top: -3%;
}


.info{
    margin-left: 7%;
    margin-top: 6%;
}

.info h1{
    font-size: 65px;
    color: red;
}

.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}

.info span{
    color: black;
    
}

.info a{
    text-decoration: none;
    color: brown;
    background: orange;
    margin: 26 px 0;
    padding: 20 px 20px;
    border-radius: 10px;
    display: inline-block;
}

.info a:hover{
    background: beige;
}

.image{
    width: 30%;

}